

.content-Calc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.content-calc-width{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(203, 203, 203);
  padding: 2.2rem 1.4rem;
  border-radius: 10px;
  gap: 1rem;
}
.Content-icons{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.3rem;
}
.Content-Calculo{
  border: 1px solid black;
  width: 100%;
  border-radius: 10px;
  text-align: end;
  background-color: white;
}
.Content-Calculo p{
  padding-right: 1rem;
}
.numElegido{
  height: 10px;
  font-size: 1.8rem;
}
.cuentaAnterior{
  height: 5px;
  color: rgb(117, 117, 117);
  font-size: 1.2rem;
}