
*{
  padding: 0;
  margin: 0;
}
.content-Calc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(180deg, rgb(13, 14, 15) 0, rgb(16, 17, 18) 50%, rgb(46, 22, 0) 100%);
  
}
.content-calc-width{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(203, 203, 203);
  padding: 2.2rem 1.4rem;
  border-radius: 10px;
  gap: 1rem;
}
.Content-icons{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.3rem;
}
.Content-Calculo{
  border: 1px solid black;
  width: 100%;
  border-radius: 10px;
  text-align: end;
  background-color: white;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 1.2rem;
}
.Content-Calculo p{
  padding-right: 1rem;
}
.numElegido{
  font-size: 1.8rem;
}
.cuentaAnterior{
  height: 5px;
  color: rgb(117, 117, 117);
  font-size: 1.2rem;
}